{% extends "editor_layout.html" %} {% load static %} {% load bootstrap %} {% block title %}

<title>My News | e-News Editor</title>

{% endblock title %} {% block content %}

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-1">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/editors" class="text-primary">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="" class="text-primary">My News </a>
        </li>
      </ol>
    </nav>
  </div>

  <!-- Page Heading -->
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-1">
      <h1 class="h3 mb-0 text-gray-800">My News</h1>
      <!-- Register Editor Information -->
      <div class="no-arrow d-sm-inline-block">
        <a
          class="btn btn-sm bg-enews text-white"
          href="/editors/add-news"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-plus fa-sm text-white-100"></i>
          &nbsp; Upload
        </a>
      </div>
    </div>
  </div>

  {% include "message.html"%}

  <!-- All News Information Table -->
  <div class="container-fluid mt-2">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 px-2 font-weight-bold text-primary">My News</h6>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Title</th>
                <th>Category Name</th>
                <th>Content</th>
                <th>Image</th>
                <th>Uploaded On</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for news in myNews %}
              <tr>
                <td>{{ news.title}}</td>
                <td>{{ news.category.categoryName }}</td>
                <td>
                  <div class="post">
                    <p class="content">{{ news.content|safe|striptags }}</p>
                    <button onclick="readMore(this)">View More</button>
                  </div>
                </td>
                <td>
                  <a href="{% static 'media/' %}{{ news.image  }}" target="_blank">
                    <img class="img-profile" height="40" width="40" src="{% static 'media/' %}{{ news.image  }}" />
                  </a>
                </td>
                <td>{{ news.created_at.date }}</td>
                <td class="text-center">
                  <div class="btn btn-sm btn-danger" data-bs-toggle="tooltip" title="Delete News!">
                    <a
                      href="{% url 'delete-news' news.id %}"
                      onclick="return confirm('Are you sure to delete this news?')"
                      style="text-decoration: none; color: beige"
                    >
                      <i class="fas fa-trash"></i>
                    </a>
                  </div>

                  <div class="btn btn-sm btn-warning" data-bs-toggle="tooltip" title="Update News Details!">
                    <a href="{% url 'update-news' news.id %}" style="text-decoration: none; color: beige"
                      ><i class="fas fa-edit"></i
                    ></a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>

            <tfoot>
              <tr>
                <th>Title</th>
                <th>Category Name</th>
                <th>Content</th>
                <th>Image</th>
                <th>Uploaded On</th>
                <th>Actions</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
