{% extends "user_layout.html"%} {% load static %} {% load bootstrap %} {% block title %}

<title>HomePage | e-News User</title>

{%endblock title %} {% block content %}

<!-- masonry
   ================================================== -->
<section id="bricks">
  <div class="row masonry">
    <!-- brick-wrapper -->
    <div class="bricks-wrapper">
      <div class="grid-sizer"></div>

      <div class="brick entry featured-grid animate-this">
        <div class="entry-content">
          <div id="featured-post-slider" class="flexslider">
            <ul class="slides">
              {% for d in news %}
              <li>
                <div class="featured-post-slide">
                  <div
                    class="post-background"
                    style="
                          background-image: url({{d.image.url}});
                        "
                  ></div>

                  <div class="overlay"></div>

                  <div class="post-content">
                    <ul class="entry-meta">
                      <li>{{d.created_at|date:'m-d-Y'}}</li>
                      <li><a href="#">{{ d.category.categoryName }}</a></li>
                    </ul>

                    <h1 class="slide-title">
                      <a href="{% url 'viewnews' d.id %}" title="">{{ d.title}}</a>
                    </h1>
                  </div>
                </div>
              </li>
              {% endfor %}
              <!-- /slide -->
            </ul>
            <!-- end slides -->
          </div>
          <!-- end featured-post-slider -->
        </div>
        <!-- end entry content -->
      </div>
      {% for c in news %}
      <article class="brick entry format-standard animate-this">
        <div class="entry-thumb">
          <a href="{% url 'viewnews' c.id %}" class="thumb-link">
            <img src="{{c.image.url}}" alt="building" />
          </a>
        </div>

        <div class="entry-text">
          <div class="entry-header">
            <div class="entry-meta">
              <span class="cat-links">
                <a href="">{{ c.category.categoryName }}</a>
              </span>
            </div>

            <h1 class="entry-title">
              <a href="{% url 'viewnews' c.id %}">{{ c.title}}</a>
            </h1>
          </div>
          <div class="entry-excerpt">{{ c.content|slice:":255"|safe }}...</div>
          <button type="button" class="btn btn-readmore">
            <a href="{% url 'viewnews' c.id %}">Read More</a>
          </button>
        </div>
      </article>
      <!-- end article -->
      {% endfor %}
    </div>
    <!-- end brick-wrapper -->
  </div>
  <!-- end row -->

  <div class="row">
    <nav class="pagination">
      <span class="page-numbers prev inactive">Prev</span>
      <span class="page-numbers current">1</span>
      <a href="#" class="page-numbers">2</a>
      <a href="#" class="page-numbers">3</a>
      <a href="#" class="page-numbers">4</a>
      <a href="#" class="page-numbers">5</a>
      <a href="#" class="page-numbers">6</a>
      <a href="#" class="page-numbers">7</a>
      <a href="#" class="page-numbers">8</a>
      <a href="#" class="page-numbers">9</a>
      <a href="#" class="page-numbers next">Next</a>
    </nav>
  </div>
</section>
<!-- end bricks -->

{% endblock content %}
