{% extends "user_layout.html" %} {% load static %} {% load bootstrap %} {% block title %}

<title>{{news.title}} | e-News User</title>

{% endblock title %} {% block content %}
<link rel="stylesheet" href="{% static 'css/lcs.css' %}" />

<!-- content
    ================================================== -->
<section id="content-wrap" class="blog-single">
  <div class="row">
    <div class="col-twelve">
      <article class="format-standard">
        <div class="primary-content">
          <h1 class="page-title">{{ news.title}}</h1>

          <h4 class="date">{{ news.created_at|date:"F d, Y"}}</h4>
          <h4 class="date">{{ news.category.categoryName }}</h4>
          <div style="display: flex">
            <img width="50" height="50" class="pull-right editor_image" src="{{news.profile_pic.url}}" alt="" />
            <h4 class="publisher">
              <a href=""
                >Published By: {% if news.user.username == None %} {{news.name}} {% else %} {{ news.user.username }}
                {%endif %}</a
              >
            </h4>
          </div>

          <img class="pull-right" style="height: 300px !important" src="{{news.image.url}}" alt="" />

          <h5>{{news.content|safe}}</h5>

          <div style="display: flex">
            <div class="like-content">
              <button class="btn-secondary like-review">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like
              </button>
            </div>
            <div class="like-content">
              <button class="btn-secondary"><i class="fa fa-comment" aria-hidden="true"></i> Comment</button>
            </div>

            <div class="like-content">
              <button class="btn-secondary"><i class="fa fa-share" aria-hidden="true"></i> Share</button>
            </div>
          </div>
        </div>

        <div class="comments-wrap">
          <div id="comments" class="row">
            <div class="col-full">
              <!-- respond -->
              <hr />
              <h3>5 Comments</h3>

              <ol class="commentlist">
                <li class="thread-alt depth-1">
                  <div class="avatar">
                    <img
                      width="50"
                      height="50"
                      class="avatar"
                      src="/media/{{request.user.profile.profile_pic}}"
                      alt=""
                    />
                  </div>

                  <div class="comment-content">
                    <div class="comment-info">{{request.user.first_name}} {{request.user.last_name}}</div>
                    <div class="comment-text">
                      <form method="POST">
                        {% csrf_token %}
                        <textarea
                          id="comment"
                          name="comment"
                          cols="70"
                          rows="1"
                          placeholder="Write your comment..."
                        ></textarea>

                        <div class="like-content" style="margin: 0; padding: 0">
                          <button class="btn-comment" type="submit" id="submit">Comment</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </li>
              </ol>

              <!-- commentlist -->
              <ol class="commentlist">
                <li class="thread-alt depth-1">
                  <div class="avatar">
                    <img width="50" height="50" class="avatar" src="{{request.user.profile.profile_pic}}" alt="" />
                  </div>

                  <div class="comment-content">
                    <div class="comment-info">
                      <cite>John Doe</cite>

                      <div class="comment-meta">
                        <time class="comment-time" datetime="2014-07-12T24:05">Jul 12, 2014 @ 24:05 </time>
                        <span class="sep">/</span><a class="reply" href="#">Reply</a>
                      </div>
                    </div>

                    <div class="comment-text">
                      <p>
                        Sumo euismod dissentiunt ne sit, ad eos iudico qualisque adversarium, tota falli et mei. Esse
                        euismod urbanitas ut sed, et duo scaevola pericula splendide. Primis veritus contentiones nec
                        ad, nec et tantas semper delicatissimi.
                      </p>
                    </div>
                  </div>
                </li>
              </ol>

              <!-- Commentlist End -->
            </div>
            <!-- end col-full -->
          </div>
          <!-- end row comments -->
        </div>
        <!-- end comments-wrap -->
      </article>
    </div>
    <!-- end col-twelve -->
  </div>
  <!-- end row -->
</section>
<!-- end content -->

{% endblock %}
