{% extends "user_layout.html" %} {% load static %} {% load bootstrap %} {% block title %}

    <title>Report News | e-News User</title>

{% endblock title %} {% block content %}
    <!-- content
      ================================================== -->
    <section id="content-wrap" class="site-page">
        <div class="row">
            <div class="col-twelve">

                <section>

                    <div class="content-media">
                        <img src="https://source.unsplash.com/1500x500/?news,newspaper,political,recent news/">
                    </div>

                    <div class="primary-content">


                        <div class="row block-1-2 block-tab-full">
                            <h3>Who are we and What we do?</h3>
                            <p style="text-align: justify">
                                E-News Nepal is Nepal's Leading News Portal which is dedicated to ethical journalism
                                that places a premium on facts and the truth. E News Nepal has built a reputation
                                for dependability, accuracy, and breaking news. E-News Nepal reportage on politics,
                                business, sports, and arts and culture is reinforced with perspectives from some of
                                Nepal's and the world's finest thinkers and commentators.</p>

                            <h3>More About Us</h3>

                            <p style="text-align: justify">
                                E-News Nepal, founded in 2022, is Nepal's leading Nepali News Portal, with the goal of
                                reaching thousands of Nepalese and foreigners in Nepal, as well as the
                                worldwide Nepalese Diaspora, who are eager to keep up with Nepal-based news and stories
                                in
                                English due to the varied contents presented in an eye-pleasing design format. It has
                                established a notable place in the web industry and is rapidly approaching the top spot.
                                We
                                also adhere to the tree of journalistic ethics by offering you fresh news on a plate of
                                total accuracy, and our remarks serve merely as a safeguard to ensure that all users of
                                our
                                page do not deviate from the truth.</p>


                        </div>

                    </div>

                </section>

            </div> <!-- end col-twelve -->
        </div> <!-- end row -->

    </section> <!-- end content -->



{% endblock content %}
