{% extends "user_layout.html" %} {% load static %} {% load bootstrap %} {% block title %}

    <title>Contact | e-News User</title>

{% endblock title %} {% block content %}


    <!-- content
    ================================================== -->
    <section id="content-wrap" class="site-page">
        <div class="row">
            <div class="col-12">
                <section>
    <div class="successmessage">{% for m in messages %} {{ m }} {% endfor %}</div>

                    <div class="content-media">

                        <h1 class="entry-title add-bottom">Get In Touch With Us.</h1>

                        <h5 class="lead">We provide tons of flexibilities to our users and readers, if you have any
                            queries or feedbacks
                            please do not forget to contact us.</h5>

                        <h3>For Advertising:</h3>
                        <h5> You can directly contact via phone number or e-mail address which are provided below,
                            or you can visit to our location.</h5>

                        <h3>For article contribution:</h3>
                        <h5> Please follow the link and write for us, <a href="{% url 'report_news' %}">Become a
                            Reporter.</a></h5>

                        <div class="row">
                            <div class="col-six tab-full">
                                <h4>Where to Find Us <i class="fas fa-location-dot" style="color: #28a745"></i>
                                </h4>

                                <p>
                                    Dilli Bazar <br>
                                    Softwarica College,<br>
                                    44600 Kathmandu
                                </p>

                            </div>

                            <div class="col-six tab-full">
                                <h4>Contact Info <i class="fas fa-address-book" style="color: #3caac8"></i></h4>

                                <i class="fas fa-earth-americas" style="color:#3caac8 "></i> <a href="">
                                someone@abstractwebsite.com</a><br>
                                <i class="fas fa-envelope" style="color:#007bff "></i><a
                                    href="mailto:info@abstractwebsite.com"> info@abstractwebsite.com</a> <br>
                                <i class="fas fa-phone" style="color: #1cc88a"></i> <a href="tel:123-456-7890"> (+63)
                                555 1212</a>
                                </p>

                            </div>

                        </div>

                        <form name="cForm" id="cForm" method="post" action="">
                            {% csrf_token %}
                            <fieldset>

                                <div class="form-field">
                                    <input name="name" type="text" id="cName" class="full-width"
                                           placeholder="Your Name" value="">
                                </div>

                                <div class="form-field">
                                    <input name="email" type="text" id="cEmail" class="full-width"
                                           placeholder="Your Email" value="">
                                </div>

                                <div class="form-field">
                                    <input name="contact" type="text" id="cWebsite" class="full-width"
                                           placeholder="Contact Number" value="">
                                </div>

                                <div class="message form-field">
                                    <textarea name="message" id="cMessage" class="full-width"
                                              placeholder="Your Message"></textarea>
                                </div>

                                <button class="btn-submit full-width-on-mobile">Submit</button>

                            </fieldset>
                        </form> <!-- end form -->
                    </div>
                    <div class="content-media">
                        <div id="map-wrap">
                            <div id="map-container">

                                <iframe class="responsive-iframe"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.360992140915!2d85.32779051501535!3d27.70613838279248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb190a74aa1f23%3A0x74ebef82ad0e5c15!2sSoftwarica%20College%20of%20IT%20%26%20E-Commerce!5e0!3m2!1sen!2snp!4v1654089803272!5m2!1sen!2snp"
                                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>

                        </div>
                    </div>
                </section>


            </div> <!-- end col-twelve -->
        </div> <!-- end row -->
    </section> <!-- end content -->

{% endblock content %}
