{% extends "admin_layout.html"%} {% load static %} {% load bootstrap %} {% block title %}

<title>Dashboard | e-News Admin</title>

{%endblock title %} {% block content %}

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

    <!-- Download User Information -->
    <div class="dropdown no-arrow d-none d-sm-inline-block">
      <a
        class="dropdown-toggle btn btn-sm bg-enews text-white"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-download fa-sm text-white-50"></i>
        &nbsp; Download
      </a>
      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
        <div class="dropdown-header">Download CSV</div>
        <a class="dropdown-item" href="#">Editor Data</a>
        <a class="dropdown-item" href="#">User Data</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">All News</a>
      </div>
    </div>
  </div>

  <!-- Card Content Row -->
  <div class="row">
    <!-- Editor Count Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <a href="/admins/editors" style="text-decoration: none">
        <div class="card shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Editors Count</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{editor_count}}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-user-tie fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <!-- User Count Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <a href="/admins/all-users" style="text-decoration: none">
        <div class="card shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Users Count</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ user_count }}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-user fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <!-- News Count Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <a href="/admins/news" style="text-decoration: none">
        <div class="card shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">News Count</div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">500</div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-newspaper fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <!-- Category Count Card -->
    <div class="col-xl-3 col-md-6 mb-4">
      <a href="/admins/categories" style="text-decoration: none">
        <div class="card shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Categories Count</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-th-large fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!--  Information Table -->
<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Users Information</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>Profile</th>
              <th>Role</th>
              <th>Joined</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>Profile</th>
              <th>Role</th>
              <th>Joined</th>
            </tr>
          </tfoot>
          <tbody>
            {% for user in user_info %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>
                <img
                  class="img-profile rounded-circle"
                  height="40"
                  width="40"
                  src="{% static 'images/avatars/user-01.jpg'%}"
                />
              </td>
              <td>
                {% if user.is_staff == True %} 
                  {% if user.is_superuser == False %} 
                  Editor 
                  {% endif %} 
                {% else %} 
                User 
                {% endif %}

              </td>

              <td>{{ user.date_joined }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
