{% extends "admin_layout.html"%} {% load static %} {% load bootstrap %} {% block title %}

<title>All Users | e-News Admin</title>

{%endblock title %} {% block content %}

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <nav aria-label="breadcrumb" class="mt-4">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'admins'%}" class="text-primary">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="{% url 'all-users' %}" class="text-primary">All Users</a>
        </li>
      </ol>
    </nav>

    <!-- Back To Editor Information  -->
    <div class="no-arrow d-sm-inline-block">
      <a
        class="btn btn-sm bg-enews text-white"
        href="{% url 'admins'%}"
        role="button"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-backward fa-sm text-white-100"></i>
        &nbsp; Back
      </a>
    </div>
  </div>
  <!-- Show User Information Table -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Users Information</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>Profile</th>
              <th>Role</th>
              <th>Joined</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>Profile</th>
              <th>Role</th>
              <th>Joined</th>
            </tr>
          </tfoot>
          <tbody>
            {% for user in user_info %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>
                <img
                  class="img-profile rounded-circle"
                  height="40"
                  width="40"
                  src=" {% static 'media/' %}{{ user.profile.profile_pic  }}"
                />
              </td>
              <td>User</td>

              <td>{{ user.date_joined }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
